@import '../../css/breakpoints.css';

.home-container {
  text-align: center;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
  background: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.main.transition {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fade-in {
  opacity: 0;
  flex: 0;
  transition: 0.3s ease-in-out;
  width: 0;
  height: 0;
  padding-top: 20px;
}

.fade-in.show {
  opacity: 1;
  flex: 0.5;
}

.toggle-closed-task {
  height: 40px;
  width: 40px;
  transition: 0.3s ease-in-out;
  transform: rotate(0deg);
}

.toggle-closed-task.rotate {
  transform: rotate(-180deg);
}

@media (max-width: 500px) {
  .home-container {
    flex-direction: column-reverse;
  }

  .main {
    height: 100vh;
  }

  .fade-in {
    width: auto;
    overflow: auto;
    padding-top: 0px;
  }

  .fade-in.show {
    display: block;
    flex: 0.5;
    padding-top: 20px;
  }

  .main.transition {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0;
    height: 50%;
  }

  .toggle-closed-task {
    transform: rotate(-90deg);
  }

  .toggle-closed-task.rotate {
    transform: rotate(90deg);
  }
}