@import 'colors.css';

.App {
  text-align: center;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 2;
  background: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-top-right-radius: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
