.task-card {
  max-width: 100%;
  background-color: var(--card);
  display: flex;
  padding: 10px 15px;
  border-radius: 10px;
  flex-direction: column;
  transition: 0.2s ease-in-out;
}

.task-card.fade-out {
  opacity: 0;
  transform: scale(0.5);
}

.task-card-header {
  display: flex;
  justify-content: space-between;
}

input {
  cursor: pointer;
  border: 1px solid var(--background-color);
}