.task-card {
  max-width: 100%;
  background-color: var(--card);
  display: flex;
  padding: 10px 15px;
  border-radius: 10px;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 70px;
}

.task-card.fade-in {
  opacity: 1;
  transform: scale(1.0);
}

.task-card.fade-out {
  opacity: 0;
  transform: scale(0.5);
}

.task-card.focus {
  opacity: 1;
  background-color: var(--border);
}

.task-card-header {
  display: flex;
  justify-content: space-between;
}

input {
  cursor: pointer;
  border: 1px solid var(--background-color);
}